<%- include('partials/header'); -%>

<h1 class="title">Lokacije</h1>
<p class="subtitle">Vse lokacije v sistemu</p>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Ime</th>
      <th>Lokacija</th>
    </tr>
  </thead>
  <tbody>
    <% locations.forEach(location => { %>
    <tr>
      <td><%= location.id %></td>
      <td><%= location.name %></td>
      <td><%= location.latitude %> <%= location.longitude %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer'); -%>
